.aboutcontainer {
  background-color: var(--MainBlue);
  font-family: var(--fonts);
  font-weight: light;
  user-select: none;
}
#aboutintro {
  text-align: center;
  color: var(--gold);
}
#aboutpar {
  text-align: center;
  color: white;
}
.conacom {
  animation-name: slideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.imgaccomlg {
  margin-left: 150px;
  user-select: none;
}

.row_accom h2 {
  text-align: center;
  color: var(--gold);
  user-select: none;
}
.row_accom p {
  text-align: left;
  user-select: none;
}
.row_accom img {
  text-align: center;
  align-items: center;
  user-select: none;
}

.spafitness {
  margin-left: 5px;
  margin-right: 5px;
}

.swimpool h2 {
  text-align: center;
  user-select: none;
  color: var(--gold);
}
.swimpool p {
  color: rgb(253, 246, 214);
  text-align: left;
  user-select: none;
}
.imgswimpoollg {
  text-align: center;
  margin: 50px;
  user-select: none;
}
.imgswimpoolsm {
  text-align: center;
  user-select: none;
}
.swimcon {
  background-image: url("../images/pool.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation-name: slideInRight;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.meeteventcon {
  animation-name: slideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.meetevent h2 {
  text-align: center;
  user-select: none;
  color: var(--gold);
}
.meetevent p {
  text-align: left;
  user-select: none;
}
.meetevent h2 {
  text-align: center;
  user-select: none;
  color: var(--gold);
}
.meetevent p {
  text-align: left;
  user-select: none;
}
.spafitnesscon {
  animation-name: slideInRight;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.spafitness h2 {
  text-align: center;
  user-select: none;
  color: var(--gold);
}
.spafitness p {
  text-align: center;
  user-select: none;
}
.careercon {
  background-color: #111d30;
}
.acareer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.acareer h2 {
  text-align: center;
  user-select: none;
  color: var(--gold);
}
.acareer p {
  color: rgb(253, 246, 214);
  text-align: center;
  user-select: none;
}
.carconinfo {
  color: rgb(253, 246, 214);
  text-align: left;
  justify-content: start;
  user-select: none;
}
@media (min-width: 800px) {
  .imgaccomsm {
    margin: 0;
    user-select: none;
  }
}
