@font-face {
  font-family: "New York";
  src: url(../fonts/newyork/NewYork\ PERSONAL\ USE.otf);
}

:root {
  --spacer: 1rem;
  --bigspace: 2rem;

  /* --backgroundcolor: #152238; */
  --MainBlue: #1c2e4a;
  --darkblue: #0b2447;
  --gold: rgb(231, 212, 103);
  --white: #f3f3f3;
  --black: #202020;

  --blueHover: #2b4875;

  --colorCard: #d9eaf5;
  --buttonColor: #f4e91d;
  --buttonColorHover: #f1c913;
  --buttonColorActive: #d19e00;

  --Logofonts: New York;
  --fonts: "Poppin", sans-serif;
}

main {
  padding: 0px 30px;
  text-align: center;
}
* h1 {
  color: var(--gold);
}
/* ====================== Loading screen================================ */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #07182e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* ====================== SCROLLBAR====================================  */
html.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: rgba(31, 82, 176, 0);
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--darkblue);
}
/* ====================== NAVBAR ======================================  */

header {
  user-select: none;
  background-color: var(--MainBlue);
  font-family: var(--fonts);
  font-weight: light;
}
.logo_img {
  margin-bottom: 23px;
  margin-left: 15px;
}
.logo_name {
  display: inline;
  margin-top: 10px;
  color: var(--gold);
  font-family: var(--Logofonts);
}
.nav_bar_left {
  margin-top: 10px;
}
.nav_bar_left a {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.nav_bar_right {
  list-style-type: none;
  display: flex;
  gap: var(--spacer);
  justify-content: end;
  flex: 1;
}
.link_font {
  color: var(--white);
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.link_font:hover {
  text-decoration: none;
  border-radius: 8px;
  color: var(--gold);
  background-color: var(--blueHover);
  padding: 10px;
}
.toggle_btn {
  flex-shrink: 2;
}
.book_now {
  text-decoration: none;
  background-color: var(--buttonColor);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  transition: background-color 0.2s;
}
.book_now:hover {
  text-decoration: none;
  color: var(--black);
  background-color: var(--buttonColorHover);
}

.toggle_btn {
  color: var(--gold);
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0 transparent solid;
  transition: background-color 0.2s;
}
.toggle {
  display: none;
}
.toggle_btn:hover {
  border: 0 gold solid;
  box-shadow: inset 0px 2px 4px #07182e;
  border-radius: 5px;
  background-color: var(--darkblue);
  opacity: background-color 50%;
}
.toggle_option {
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.toggle_option a {
  display: block;
}
.toggle_option_left {
  background-color: rgba(0, 0, 0, 0.6);
  flex: 1;
  text-align: left;
}
.fa-x {
  font-size: 50px;
  color: var(--gold);
  border-radius: 10px;
  border: 1px solid gold;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.5s;
  margin-left: 10px;
  margin-top: 10px;
}
.fa-x:hover {
  opacity: 1;
}
.rewards {
  padding: 10px;
  font-size: 25px;
  text-decoration: none !important;
  color: var(--gold);
}
.rewards:hover {
  color: var(--gold);
  text-shadow: 4px 0px 40px white;
}
.toggle_option_right {
  background-color: var(--darkblue);
  flex: 3;
}
.toggle_font,
.toggle_font_login {
  color: white;
  font-size: 15px;
  text-decoration: none !important;
  padding-left: 30px;
  padding-right: 30px;
  transition: hover 5s;
  padding: 10px;
}
.toggle_font:hover,
.toggle_font_login:hover {
  color: white;
  background-color: var(--blueHover);
}
.pipe {
  font-size: 25px;
  color: Gold;
  cursor: default;
}
/* nav bar drop down ============================ */
.login_dropdown {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.fa-circle-user {
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline;
}

.login_content_dropdown {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  right: -50px;
  display: none;
  position: absolute;
  background-color: transparent;
  width: 1500%;

  z-index: 1;
}

/* Links inside the dropdown */
.login_content_dropdown a {
  background-color: #07182e;
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login_content_dropdown a:hover {
  background-color: var(--blueHover);
}

.dropdown:hover .login_content_dropdown {
  display: block;
}

.dropdown:hover .login_dropdown {
  color: var(--gold);
  background-color: var(--blueHover);
}

@media (max-width: 1060px) {
  .navbar .nav_bar_right {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }
  .book_now {
    border-radius: 0px;
  }
  .account_info {
    color: var(--white);
  }
  .account_info:hover {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
  }
  .book_now:hover {
    text-decoration: none;
  }
  .deal {
    text-align: center;
    display: block;
  }
}
@media (max-width: 900px) {
  .single-box {
    margin-bottom: 50px;
  }
  .nav_bar_right {
    gap: 5px;
    padding-left: 20px;
    text-align: center;
  }

  .link_font {
    font-size: small;
    padding: 8px;
    padding-top: 10px;
  }

  .link_font:hover {
    padding: 8px;
    padding-top: 10px;
  }
}
@media (min-width: 870px) {
  .nav_bar_right {
    gap: 5px;
    padding-left: 20px;
    text-align: center;
  }
  .link_font {
    font-size: small;
    padding: 8px;
    padding-top: 10px;
  }
  .book_now {
    margin-top: 3px;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .link_font:hover {
    padding: 8px;
    padding-top: 10px;
  }
}

/* maiin============================================= */
* {
  user-select: none;
}

.resto {
  background-color: var(--darkblue);
  padding: 30px;
  text-align: center;
  color: white;
}

.resto_intro {
  margin-top: 80px;
}

.resto_info {
  color: var(--gold);
}

.reservation {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 64px;
}
.form-group label {
  display: flex;
}
.form-group textarea {
  height: 155px;
}
.buttons-acc-setting button {
  background-color: #f1c913;
  width: 50%;
}
/*  footer  */
.terms {
  padding-top: 15px;
  font-size: medium;
  margin-top: 50px;
  border-top: 1px solid whitesmoke;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  list-style-type: none;
}
.terms li:hover {
  text-decoration: underline;
}
.Bottom p {
  margin-top: 10px;
  color: #bcbbbb;
  text-align: center;
  font-size: small;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background: #0b2447;
  padding: 20px 0;
}
.single-box p {
  color: #fff;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;

  font-weight: 100;
}
.single-box a:hover {
  color: #a5d7e8;
}
.socials i {
  font-size: 20px;
  margin-right: 15px;
}
.socials a:hover {
  color: #a5d7e8;
}
.socials a {
  color: #f6f6f6;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 20px;
  margin-right: 15px;
}

.input-group {
  position: relative;
}
.input-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
