@font-face {
  font-family: "New York";
  src: url(../fonts/newyork/NewYork\ PERSONAL\ USE.otf);
}

/* ====================== NAVBAR ======================================  */

header {
  background-color: rgb(25, 55, 109);
  font-family: "Poppin", sans-serif;
  font-weight: light;
}

.logo_img {
  margin-bottom: 23px;
}

.logo_name {
  display: inline;
  margin-top: 10px;
  color: rgb(235, 210, 64);
  font-family: New York;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.nav_bar_right {
  list-style-type: none;
  padding-right: 30px;
  display: flex;
  gap: 8px;
  justify-content: end;
  flex: 1;
}

.link_font {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.link_font:hover {
  color: Gold;
}

.toggle_btn {
  flex-shrink: 2;
}

.book_now {
  margin-top: -10px;
  background-color: Gold;
  color: black;
  padding: 10px 20px;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  transition: box-shadow 0.2s;
}

.book_now:hover {
  color: White;
  box-shadow: inset 5px 1px 8px rgb(195, 147, 24);
}

.hero {
  height: 700px;
  background-image: url(../images/Hotel_2.jpg);
  background-size: cover;
  background-position: center;
}

.toggle_btn {
  color: gold;
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0 transparent solid;
  transition: background-color 0.2s;
}

.toggle {
  display: none;
  position: relative;
}

.toggle_btn:hover {
  border: 0 gold solid;
  box-shadow: inset 0px 2px 4px #07182e;
  border-radius: 5px;
  background-color: #0b2447;
  opacity: background-color 50%;
}

.toggle_option {
  display: none;
  background-color: rgba(31, 82, 176, 0.9);
  border-radius: 20px;
  width: 200px;
  display: grid;
  position: absolute;
  right: 20px;
  text-align: center;
}

.toggle_option a {
  display: block;
}

.toggle_font {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  transition: hover 5s;
  padding: 10px;
}

.toggle_font:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(25, 55, 109, 0),
    rgb(49, 109, 221),
    rgba(255, 0, 0, 0)
  );
}

.pipe {
  color: Gold;
  cursor: default;
}

/* ================================WELCOME==================================================== */
main {
  font-family: "Poppin", sans-serif;
}

.welcome {
  background-color: rgb(11, 36, 71);
  text-align: center;
}
.welcome h1 {
  color: gold;
}

.welcome p {
  color: White;
  padding-bottom: 10px;
}

/* ================================DEAL OF THE MONTH============================================= */
.image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.deal_of_month {
  padding-top: 30px;
  padding-left: 20px;
}

.deal_of_month h1 {
  color: Gold;
}

.deal {
  display: flex;
}
/* ====================== FOOTER ====================================== */
.terms {
  padding-top: 15px;
  font-size: medium;
  margin-top: 50px;
  border-top: 1px solid whitesmoke;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  list-style-type: none;
}

.terms li:hover {
  text-decoration: underline;
}

.Bottom p {
  margin-top: 10px;
  color: #bcbbbb;
  text-align: center;
  font-size: small;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #0b2447;
  padding: 40px 0;
}

.single-box p {
  color: #fff;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;

  font-weight: 100;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 20px;
  margin-right: 15px;
}

.input-group {
  position: relative;
}

.input-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ======================RESPONSIVENESS================================ */

@media (max-width: 1060px) {
  .navbar .nav_bar_right,
  .pipe {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }
  .book_now {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media (max-width: 767px) {
  .single-box {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-box {
    margin-bottom: 50px;
  }
}
