@font-face {
  font-family: "New York";
  src: url(../fonts/newyork/NewYork\ PERSONAL\ USE.otf);
}

/* ====================== NAVBAR ======================================  */

header {
  background-color: rgb(25, 55, 109);
  font-family: "Poppin", sans-serif;
  font-weight: light;
}

.logo img {
  margin-bottom: 15px;
}

.logo_name {
  display: inline;
  margin-top: 10px;
  color: rgb(235, 210, 64);
  font-weight: normal;
  font-size: 500;
  font-family: New York;
}
.navbar {
  width: 100%;
}

.links {
  list-style-type: none;
  display: flex;
  padding-right: 30px;
  gap: 30px;
  justify-content: space-evenly;
}

.link_font {
  color: gold;
  font-size: 15px;
}

.link_font:hover {
  color: rgb(224, 224, 205);
}

.navbar .toggle_btn {
  color: white;
  cursor: pointer;
  display: none;
}

.book_now {
  background-color: Gold;
  color: White;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  height: 700px;
  background-image: url(../images/Hotel_2.jpg);
  background-size: cover;
}

.toggle_btn {
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.toggle_btn:hover {
  border: 1px gold solid;
  border-radius: 10px;
}

.pipe {
  color: Gold;
}

/* ================================WELCOME==================================================== */
main {
  font-family: "Poppin", sans-serif;
}

.welcome {
  background-color: rgb(11, 36, 71);
  text-align: center;
}
.welcome h1 {
  font-family: New York;
  color: gold;
}

.welcome p {
  color: White;
  padding-bottom: 10px;
}

/* ================================DEAL OF THE MONTH============================================= */

.deal h1 {
  color: gold;
}

.deal {
  margin: 10px;
}
.Deal {
  display: flex;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.card {
  position: relative;
  background-color: rgb(25, 55, 109);
  border-radius: 10px;
}
.card::before {
  content: "";
  position: absolute;
  height: 1;
}
.Card_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
/* ======================RESPONSIVENESS================================ */

@media (max-width: 2000px) {
  .links {
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
}
@media (max-width: 1112px) {
  .links {
    gap: 5px;
  }
}
