@font-face {
  font-family: "New York";
  src: url(../fonts/newyork/NewYork\ PERSONAL\ USE.otf);
}

:root {
  --spacer: 1rem;
  --bigspace: 2rem;

  /* --backgroundcolor: #152238; */
  --MainBlue: #1c2e4a;
  --darkblue: #0b2447;
  --gold: rgb(231, 212, 103);
  --white: #f3f3f3;
  --black: #202020;

  --blueHover: #2b4875;

  --colorCard: #d9eaf5;
  --buttonColor: #f4e91d;
  --buttonColorHover: #f1c913;
  --buttonColorActive: #d19e00;

  --Logofonts: New York;
  --fonts: "Poppin", sans-serif;
}
/* ====================== Loading screen================================ */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #07182e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* ====================== SCROLLBAR====================================  */
html.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: rgba(31, 82, 176, 0);
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--darkblue);
}
/* ====================== NAVBAR ======================================  */

header {
  user-select: none;
  background-color: var(--MainBlue);
  font-family: var(--fonts);
  font-weight: light;
}
.logo_img {
  margin-bottom: 23px;
  margin-left: 15px;
}
.logo_name {
  display: inline;
  margin-top: 10px;
  color: var(--gold);
  font-family: var(--Logofonts);
}
.nav_bar_left {
  margin-top: 10px;
}
.nav_bar_left a {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.nav_bar_right {
  list-style-type: none;
  display: flex;
  gap: var(--spacer);
  justify-content: end;
  flex: 1;
}
.link_font {
  color: var(--white);
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.link_font:hover {
  text-decoration: none;
  border-radius: 8px;
  color: var(--gold);
  background-color: var(--blueHover);
  padding: 10px;
}
.toggle_btn {
  flex-shrink: 2;
}
.book_now {
  text-decoration: none;
  background-color: var(--buttonColor);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  transition: background-color 0.2s;
}
.book_now:hover {
  text-decoration: none;
  color: var(--black);
  background-color: var(--buttonColorHover);
}
.hero {
  background-color: #07182e;
  min-height: 300px;
  height: 762px;
  background-image: url(../images/Hotel_2.jpg);
  background-size: cover;
  background-position: center;
}
.toggle_btn {
  color: var(--gold);
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0 transparent solid;
  transition: background-color 0.2s;
}
.toggle {
  display: none;
}
.toggle_btn:hover {
  border: 0 gold solid;
  box-shadow: inset 0px 2px 4px #07182e;
  border-radius: 5px;
  background-color: var(--darkblue);
  opacity: background-color 50%;
}
.toggle_option {
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.toggle_option a {
  display: block;
}
.toggle_option_left {
  background-color: rgba(0, 0, 0, 0.6);
  flex: 1;
  text-align: left;
}
.fa-x {
  font-size: 50px;
  color: var(--gold);
  border-radius: 10px;
  border: 1px solid gold;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.5s;
  margin-left: 10px;
  margin-top: 10px;
}
.fa-x:hover {
  opacity: 1;
}
.rewards {
  padding: 10px;
  font-size: 25px;
  text-decoration: none !important;
  color: var(--gold);
}
.rewards:hover {
  color: var(--gold);
  text-shadow: 4px 0px 40px white;
}
.toggle_option_right {
  background-color: var(--darkblue);
  flex: 3;
}
.toggle_font,
.toggle_font_login {
  color: white;
  font-size: 15px;
  text-decoration: none !important;
  padding-left: 30px;
  padding-right: 30px;
  transition: hover 5s;
  padding: 10px;
}
.toggle_font:hover,
.toggle_font_login:hover {
  color: white;
  background-color: var(--blueHover);
}
.pipe {
  font-size: 25px;
  color: Gold;
  cursor: default;
}
/* nav bar drop down ============================ */
.login_dropdown {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.fa-circle-user {
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline;
}

.login_content_dropdown {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  right: -50px;
  display: none;
  position: absolute;
  background-color: transparent;
  width: 1500%;

  z-index: 1;
}

/* Links inside the dropdown */
.login_content_dropdown a {
  background-color: #07182e;
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login_content_dropdown a:hover {
  background-color: var(--blueHover);
}

.dropdown:hover .login_content_dropdown {
  display: block;
}

.dropdown:hover .login_dropdown {
  color: var(--gold);
  background-color: var(--blueHover);
}
/*  ================================ WELCOME =============================*/
main {
  font-family: var(--fonts);
  background-color: var(--white);
  text-align: center;
}
.welcome {
  user-select: none;
  background-color: var(--MainBlue);
  text-align: center;
}
.welcome h1 {
  color: var(--gold);
}
.welcome p {
  color: var(--white);
  padding-bottom: 10px;
}
/* ============================= DEAL OF THE MONTH ====================== */
.deal_of_month {
  padding-left: 40px;
  padding-right: 40px;
}
.deal_of_month h1 {
  padding-top: 10px;
  color: var(--gold);
}
.deals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card_deal {
  max-width: 585px;
  min-height: 250px;
  background: var(--colorCard);
}
.card_image_deal > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.content_card_deal {
  padding-left: 10px;
  padding-left: 10px;
  display: flex;
  height: 190px;
  flex-direction: column;
  justify-content: space-evenly;
}

.deal_btn {
  background-color: var(--buttonColor);
  border: 1px transparent;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.5s;
}
.deal_btn:hover {
  background-color: var(--buttonColorHover);
}
/* ======================= EXPERIENCE WITH US =========================== */
.container_exp {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  user-select: none;
}
.container_exp h1 {
  padding-top: 10px;
  color: var(--gold);
}
.btn_exp {
  background-color: var(--buttonColorHover);
  width: 150px;
}
.btn_exp:hover {
  background-color: var(--buttonColorActive);
}
.card_exp {
  background-color: var(--blueHover);
  height: 500px;
  max-width: 600px;
  justify-content: center;
}
.card_image_exp {
  position: relative;
  overflow: hidden;
}
.card_image_exp > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.card_body_exp {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );

  padding-top: 40px;
  transition: 0.8s;
}
.card_image_exp:hover > .card_body_exp,
.card_image_exp:hover
  > .btn_Experience
  .card_image_exp:hover
  > .card_body_exp
  h3 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );

  padding-top: 50px;
  padding-bottom: 40px;
  bottom: 60px;
}
.card_body_exp h3 {
  font-size: 35px;
  padding-bottom: 20px;
  color: var(--white);
}

.btn_Experience {
  bottom: -15px;
  border-radius: 5px;
  padding: 8px 40px;
  background-color: var(--buttonColor);
  transition: background-color 0.2s;
  border-style: none;
}
.btn_Experience:hover {
  background-color: var(--buttonColorHover);
}
/* ====================== WELLNESS CAMP ====================================== */
.wellness_camp {
  user-select: none;
}
.container_wellness {
  padding: 0px 50px;
}
.wellness_camp h1 {
  color: var(--gold);
}
.wellness_img {
  width: 100%;
  height: 1030px;
  object-fit: cover;
  object-position: top;
}

.card_well {
  background-color: var(--blueHover);
  height: 500px;
  width: 100%;
}
.card_image_wellness {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.content_wellness {
  /* content height of wellness */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-Wellness {
  align-self: center;
  width: 200px;
  border-radius: 5px;
  padding: 8px 40px;
  background-color: var(--buttonColor);
  transition: background-color 0.2s;
  border-style: none;
}
.all_wellness {
  position: relative;
}
.section_btn_wellness {
  position: absolute;
  bottom: 50px;
  left: -33.2%;
}

.btn_wellness {
  margin-top: 10px;
  background-color: var(--buttonColorHover);
  width: 150px;
}
.btn_wellness:hover {
  background-color: var(--buttonColorActive);
}
/* ====================== WELLNESS PROGRAM ====================================== */

/* ====================== REWARDS POINTS ====================================== */
.reward_cards_section {
  padding: 0px 20px;
  background-color: white;
  user-select: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reward_card_design {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 290px 290px 290px 290px;
  grid-template-rows: 180px;
  justify-content: center;
}
.reward_card {
  padding-left: 25px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 20px;

  border-radius: 10px;

  border: 1px black;
  font-size: 15px;
  text-align: left;
}
.reward_card:nth-child(1) {
  background-color: #0b2447;
  z-index: 1;
  color: white;

  transition: transform 0.8s;

  transform: translate(60%, 0px) skew(10deg, 0deg);
  box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
  background: rgb(133, 78, 20);
  background: linear-gradient(
    241deg,
    rgba(133, 78, 20, 1) 0%,
    rgba(0, 0, 0, 1) 58%,
    rgba(0, 0, 0, 1) 70%,
    rgba(76, 44, 11, 1) 100%
  );
}
.reward_card:nth-child(1):hover {
  transform: translate(60%, -20px) skew(10deg, 0deg);
}
.reward_card:nth-child(2) {
  background-color: #d19e00;
  z-index: 2;

  transition: transform 0.8s;

  transform: translate(20%, 0px) skew(10deg, 0deg);
  box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
  background: rgb(250, 111, 94);
  background: linear-gradient(
    241deg,
    rgb(255, 163, 151) 0%,
    rgba(245, 181, 48, 1) 13%,
    rgb(155, 128, 52) 28%,
    rgb(218, 137, 49) 76%,
    rgb(230, 199, 86) 100%
  );
}
.reward_card:nth-child(2):hover {
  transform: translate(20%, -20px) skew(10deg, 0deg);
}
.reward_card:nth-child(3) {
  background-color: #f4e91d;
  z-index: 3;

  transition: transform 0.8s;

  transform: translate(-20%, 0px) skew(10deg, 0deg);
  box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
  background: rgb(46, 45, 71);
  background: linear-gradient(
    241deg,
    rgba(46, 45, 71, 1) 24%,
    rgba(42, 112, 173, 1) 68%,
    rgba(40, 51, 239, 1) 100%,
    rgba(9, 5, 255, 1) 100%
  );
}
.reward_card:nth-child(3):hover {
  transform: translate(-20%, -20px) skew(10deg, 0deg);
}
.reward_card:nth-child(4) {
  background-color: #c1bd6d;
  z-index: 4;

  transition: transform 0.8s;

  transform: translate(-60%, 0px) skew(10deg, 0deg);
  box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
  background: rgb(255, 151, 140);
  background: linear-gradient(
    241deg,
    rgba(255, 151, 140, 1) 0%,
    rgba(226, 10, 88, 1) 42%,
    rgba(249, 186, 143, 1) 100%,
    rgba(255, 227, 179, 1) 100%
  );
}
.reward_card:nth-child(4):hover {
  transform: translate(-60%, -20px) skew(10deg, 0deg);
}
.reward_card_hover {
  position: relative;
  height: 50px;
}
.btn_rewards {
  color: var(--black);
  padding: 10px 20px;
  background-color: var(--buttonColor);
  border-radius: 5px;
  transition: background-color 0.5s;
}
.btn_rewards:hover {
  color: var(--black);
  background-color: var(--buttonColorHover);
  text-decoration: none;
}
/* ====================== FOOTER ====================================== */
.terms {
  padding-top: 15px;
  font-size: medium;
  margin-top: 50px;
  border-top: 1px solid whitesmoke;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  list-style-type: none;
}
.terms li:hover {
  text-decoration: underline;
}
.Bottom p {
  margin-top: 10px;
  color: #bcbbbb;
  text-align: center;
  font-size: small;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background: #0b2447;
  padding: 20px 0;
}
.single-box p {
  color: #fff;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;

  font-weight: 100;
}
.single-box a:hover {
  color: #a5d7e8;
}
.socials i {
  font-size: 20px;
  margin-right: 15px;
}
.socials a:hover {
  color: #a5d7e8;
}
.socials a {
  color: #f6f6f6;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 20px;
  margin-right: 15px;
}

.input-group {
  position: relative;
}
.input-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ======================RESPONSIVENESS================================ */
@media (max-width: 1060px) {
  .navbar .nav_bar_right {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }
  .book_now {
    border-radius: 0px;
  }
  .account_info {
    color: var(--white);
  }
  .account_info:hover {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
  }
  .book_now:hover {
    text-decoration: none;
  }
  .deal {
    text-align: center;
    display: block;
  }
}
@media (max-width: 900px) {
  .single-box {
    margin-bottom: 50px;
  }
  .nav_bar_right {
    gap: 5px;
    padding-left: 20px;
    text-align: center;
  }

  .link_font {
    font-size: small;
    padding: 8px;
    padding-top: 10px;
  }

  .link_font:hover {
    padding: 8px;
    padding-top: 10px;
  }

  .reward_card:nth-child(1) {
    background-color: #0b2447;
    z-index: 1;
    color: white;

    transition: transform 0.8s;

    transform: translate(70%, 0px) skew(10deg, 0deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(133, 78, 20);
    background: linear-gradient(
      241deg,
      rgba(133, 78, 20, 1) 0%,
      rgba(0, 0, 0, 1) 58%,
      rgba(0, 0, 0, 1) 70%,
      rgba(76, 44, 11, 1) 100%
    );
  }
  .reward_card:nth-child(1):hover {
    transform: translate(70%, -20px) skew(10deg, 0deg);
  }
  .reward_card:nth-child(2) {
    background-color: #d19e00;
    z-index: 2;

    transition: transform 0.8s;

    transform: translate(20%, 0px) skew(10deg, 0deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(250, 111, 94);
    background: linear-gradient(
      241deg,
      rgb(255, 163, 151) 0%,
      rgba(245, 181, 48, 1) 13%,
      rgb(155, 128, 52) 28%,
      rgb(218, 137, 49) 76%,
      rgb(230, 199, 86) 100%
    );
  }
  .reward_card:nth-child(2):hover {
    transform: translate(20%, -20px) skew(10deg, 0deg);
  }
  .reward_card:nth-child(3) {
    background-color: #f4e91d;
    z-index: 3;

    transition: transform 0.8s;

    transform: translate(-25%, 0px) skew(10deg, 0deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(46, 45, 71);
    background: linear-gradient(
      241deg,
      rgba(46, 45, 71, 1) 24%,
      rgba(42, 112, 173, 1) 68%,
      rgba(40, 51, 239, 1) 100%,
      rgba(9, 5, 255, 1) 100%
    );
  }
  .reward_card:nth-child(3):hover {
    transform: translate(-25%, -20px) skew(10deg, 0deg);
  }
  .reward_card:nth-child(4) {
    background-color: #c1bd6d;
    z-index: 4;

    transition: transform 0.8s;

    transform: translate(-70%, 0px) skew(10deg, 0deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(255, 151, 140);
    background: linear-gradient(
      241deg,
      rgba(255, 151, 140, 1) 0%,
      rgba(226, 10, 88, 1) 42%,
      rgba(249, 186, 143, 1) 100%,
      rgba(255, 227, 179, 1) 100%
    );
  }
  .reward_card:nth-child(4):hover {
    transform: translate(-70%, -20px) skew(10deg, 0deg);
  }
}
@media (max-width: 768px) {
  .btn_wellness {
    margin-top: 10px;
    background-color: var(--buttonColorHover);
    width: 50px;
  }
  /* 
  
  */
  .reward_card_design {
    height: 350px;
  }
  .card-body {
    padding-top: 0px;
    bottom: -10px;
    transition: none;
  }
  .card_exp:hover .card-body {
    bottom: -10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }
  .card_exp {
    width: 250px;
    height: 350px;
  }
  .card_exp img {
    inline-size: 100%;
    height: 450px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .reward_card:nth-child(1) {
    z-index: 1;
    color: white;
    transition: transform 0.8s;

    transform: translate(135%, 70px) rotate(70deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(133, 78, 20);
    background: linear-gradient(
      241deg,
      rgba(133, 78, 20, 1) 0%,
      rgba(0, 0, 0, 1) 58%,
      rgba(0, 0, 0, 1) 70%,
      rgba(76, 44, 11, 1) 100%
    );
  }
  .reward_card:nth-child(1):hover {
    transform: translate(152%, 70px);
    z-index: 99;
  }
  .reward_card:nth-child(2) {
    background-color: #d19e00;
    z-index: 2;

    transition: transform 0.8s;

    transform: translate(45%, 70px) rotate(70deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(250, 111, 94);
    background: linear-gradient(
      241deg,
      rgb(255, 163, 151) 0%,
      rgba(245, 181, 48, 1) 13%,
      rgb(155, 128, 52) 28%,
      rgb(218, 137, 49) 76%,
      rgb(230, 199, 86) 100%
    );
  }
  .reward_card:nth-child(2):hover {
    transform: translate(52%, 70px);
    z-index: 99;
  }
  .reward_card:nth-child(3) {
    background-color: #f4e91d;
    z-index: 3;

    transition: transform 0.8s;

    transform: translate(-45%, 70px) rotate(70deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(46, 45, 71);
    background: linear-gradient(
      241deg,
      rgba(46, 45, 71, 1) 24%,
      rgba(42, 112, 173, 1) 68%,
      rgba(40, 51, 239, 1) 100%,
      rgba(9, 5, 255, 1) 100%
    );
  }
  .reward_card:nth-child(3):hover {
    transform: translate(-48%, 70px);
    z-index: 99;
  }
  .reward_card:nth-child(4) {
    background-color: #c1bd6d;
    z-index: 4;

    transition: transform 0.8s;

    transform: translate(-135%, 70px) rotate(70deg);
    box-shadow: -11px 11px 16px 0px rgba(0, 0, 0, 0.3);
    background: rgb(255, 151, 140);
    background: linear-gradient(
      241deg,
      rgba(255, 151, 140, 1) 0%,
      rgba(226, 10, 88, 1) 42%,
      rgba(249, 186, 143, 1) 100%,
      rgba(255, 227, 179, 1) 100%
    );
  }
  .reward_card:nth-child(4):hover {
    transform: translate(-148%, 70px);
    z-index: 99;
  }
}
@media (min-width: 870px) {
  /* 
  
  
  */
  .nav_bar_right {
    gap: 5px;
    padding-left: 20px;
    text-align: center;
  }
  .link_font {
    font-size: small;
    padding: 8px;
    padding-top: 10px;
  }

  .book_now {
    margin-top: 3px;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .link_font:hover {
    padding: 8px;
    padding-top: 10px;
  }
}

/* ========================== KEY FRAMS ================================= */
@keyframes slideInLeft {
  from {
    transform: translatex(-100rem);
  }

  to {
    transform: translatex(0rem);
  }
}
@keyframes slideInRight {
  from {
    transform: translatex(+100rem);
  }

  to {
    transform: translatex(0rem);
  }
}
